@extends 'base.html'
<!DOCTYPE html>
<html>
<head>
	<title>{%block title%}Mi index{%endblock%}</title>
</head>
<body>
 @ if              alberto
 Este @ no deberia {{vars}}
@endif
  {*un comentario*}

{%if alberto %} Hola {%endif%}

@block footer
	<footer>Copyright {%block year%}2015{% endblock %}</footer>
@endblock
</body>
</html>
